.wrap {
  padding: 15px;
}
.switchCurrenciesWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.switchCurrencies {
  cursor: pointer;
  svg {
    transition: all 0.3s;
  }
  &:hover {
    svg {
      fill: #1890ff;
    }
  }
}

.converterButtonWrap {
  padding: 15px 0;
  display: flex;
  justify-content: center;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
